---
import "../styles/global.css";
import { Font, Image } from "astro:assets";

import { Content } from "../content/guide.md";

import heroimg from "../assets/discordgtavi.png";
---

<Font cssVariable="--font-atkinson" preload />

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/gtavi-discord-tutorial/Omnical.png"
		/>
		<link rel="icon" href="/gtavi-discord-tutorial/Omnical.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<meta
			property="og:title"
			content="Omnical invited you to play GTA VI"
		/>
		<meta property="og:site_name" content="Steam" />
		<meta
			property="og:url"
			content="https://cool-bu1lder.github.io/gtavi-discord-tutorial/"
		/>
		<meta property="og:type" content="website" />

		<title>Omnical</title>
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>
	<body>
		<main>
			<article>
				<div class="hero-image">
					{(<Image width={1020} height={510} src={heroimg} alt="" />)}
				</div>
				<div class="prose">
					<div class="title">
						<h1>Play GTA VI On Discord Guide For Noobs</h1>
						<hr />
					</div>
					<Content />
				</div>
			</article>
		</main>
	</body>
</html>
